@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-color: #3fa6b2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Poppins";
    background: #74c8d1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background: white;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
}

title {
    font-size: 22px;
}

.content {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    border-radius: 5px;
}

.content li {
    background: var(--primary-color);
    color: white;
    border-radius: 3px;
    list-style: none;
    margin: 4px 3px;
    padding: 10px;
}

.content li i {
    font-size: 16px;
    margin-left: 5px;
    padding: 4px;
    cursor: pointer;
}

.content li i:hover {
    color:#007481;
}
.content input {
    border: none;
    outline: none;
    font-size: 20px;
    margin: 10px;
    flex: 1;
}

.remove-all {
    background: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 5px; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;   
    cursor: pointer;
    transition: all 0.3s ease;
}

.remove-all:hover {
    background: #007481;
}